@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto+Mono');

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
}

html {
    font-size: 100%;
    line-height: 1.4;
}

body {
    font-size: 2em;
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {
    font-size: 2.4em;
    border-bottom: 5px solid #f0db4f;
    margin-top: 0;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.8em;
}

h1,
h2,
h3 {
    font-weight: normal;
}

p {
    font-size: 1.2em;
}

@media (min-width: 64em) {
    html {
        font-size: 112.5%;
    }
}

.presentation {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 2em;
    display: flex;
    flex-flow: row | nowrap;
    justify-content: center;
    align-items: center;
    background-color: #323330;
    color: white;
}

.slide-container {
    display: none;
}

.slide {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    position: relative;
}

.fade-in {
    animation: fade-in 1s ease-out;
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

.timer {
    font-size: 3em;
    position: absolute;
    top: 0;
    right: 0;
}

a {
    color: white;
}

code,
pre {
    font-family: 'Roboto Mono', monospace;
}

code {
    background-color: #ccc;
    color: #333;
    padding: 0 0.4rem;
}

pre {
    background-color: #ccc;
    border-left: 5px solid #f0db4f;
    padding: 0.4rem 1rem;
    line-height: 1.4;
    color: #333;
    font-size: 1.2em;
}

table {
    box-sizing: border-box;
    width: 100%;
    font-size: 1.2em;
    border-collapse: collapse;
}

th {
    text-align: left;
    font-weight: bold;
    padding: 0.3em 0.6em;
}

td {
    border-top: 1px solid white;
    padding: 0.3em 0.6em;
}
